DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
ADMIN_PASSWORD="password-admin-anda"
JWT_SECRET="string-rahasia-minimal-32-karakter"
NEXT_PUBLIC_APP_URL="https://nama-app-anda.vercel.app"
